<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>
<body>

<div th:replace="~{common/header :: header}"></div>

<br>

<div class="relative overflow-x-auto flex items-center justify-center">

<table class="text-sm text-left text-gray-800 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">Id</th>
        <th scope="col" class="px-6 py-3">First Name</th>
        <th scope="col" class="px-6 py-3">Last Name</th>
        <th scope="col" class="px-6 py-3">Job Title</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Phone Number</th>
        <th scope="col" class="px-6 py-3">Action</th>
    </tr>
    </thead>
    <tr th:each="student : ${students}" class="bg-white border-b  dark:border-gray-700 dark:text-gray-800">
        <td th:text="${student.id}" class="px-6 py-4"></td>
        <td th:text="${student.firstName}" class="px-6 py-4"></td>
        <td th:text="${student.lastName}" class="px-6 py-4"></td>
        <td th:text="${student.jobTitle}" class="px-6 py-4"></td>
        <td th:text="${student.email}" class="px-6 py-4"></td>
        <td th:text="${student.phoneNumber}" class="px-6 py-4"></td>
        <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        </td>
    </tr>
</table>

</div>

<br>

</body>
</html>